<html>
  <head>
    <meta charset='utf-8' />
    <title>CMS</title>
  </head>
  <body>
    {{#if logged_in}}
      <form action='/cms/logout' method='post'>
        <input type='submit' value='Logout' />
      </form>

      <form action='' method='get'>
        <input type='search' name='query' />
        <input type='submit' value='Search' />
      </form>
      <ul id='results'>
        {{#each results}}
          <li><a href="/cms/preview/{{id}}"><code>{{id}}</code></a> - {{#each properties}}{{#each title}}{{text.content}}{{/each}}{{/each}}</li>
        {{/each}}
      </ul>
    {{else}}
      <form action='https://api.notion.com/v1/oauth/authorize' method='get'>
        <input type='hidden' name='client_id' value='{{client_id}}' />
        <input type='hidden' name='redirect_uri' value='{{redirect_uri}}' />
        <input type='hidden' name='response_type' value='code' />
        <input type='hidden' name='owner' value='user' />
        {{#if state}}
          <input type='hidden' name='state' value='{{state}}' />
        {{/if}}
        <input type='submit' value='Login' />
      </form>
    {{/if}}
  </body>
</html>
